.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.text-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.text-italic {
  font-style: italic;
}
.text-normal {
  font-weight: normal;
}
.text-normal-italic {
  font-style: italic;
  font-weight: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: calc(100vh - 1.4em);
  position: relative;
  padding: 0;
  margin: 0;
  background-color: Window;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.2;
}
input,
button,
label,
.progress {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
button,
input[type=button] {
  cursor: pointer;
  font-size: 0.9em;
}
img {
  display: inline-block;
  border: unset;
  max-width: 100%;
}
p {
  margin-top: 0px;
}
.type fieldset p {
  margin-bottom: 0.6em;
}
.link {
  color: #0098ff;
  text-decoration: underline;
  cursor: pointer;
}
.clearfix {
  display: table;
  content: "";
  clear: both;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
.header,
.footer,
.main {
  position: relative;
  width: 100%;
  background-color: Window;
}
.header,
.footer {
  z-index: 100;
}
.main {
  z-index: 1;
}
.wrapper {
  position: relative;
  padding-bottom: 3em;
  overflow: auto;
  height: calc(100% - 8.5em);
}
.header {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}
.header .help-icon {
  position: absolute;
  z-index: 1;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.header h1 {
  padding-left: 3em;
  padding-right: 3em;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 0 3px 1px #000;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-family: Consolas, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1;
}
.footer a {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.3em;
}
.app {
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 2rem;
  font-family: Tahoma, sans-serif;
}
.help {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  background-color: white;
  font-family: Tahoma, sans-serif;
}
.help_wrapper {
  position: relative;
  height: 100%;
}
.help_content {
  padding-left: 1em;
  padding-right: 1em;
  height: calc(100% - 3em);
  overflow: auto;
}
.help_content ol {
  padding-left: 1em;
  padding-bottom: 2em;
}
.help_content ol li::marker {
  font-weight: bold;
}
.help_content ol img {
  margin-top: 0.5em;
}
.help_header {
  height: 2em;
  background-color: white;
  box-shadow: 0 0 3px #000;
  position: relative;
}
#btnClose {
  position: absolute;
  right: 0.9em;
  top: 0em;
  cursor: pointer;
}
.show .help {
  display: block;
}
.folder {
  white-space: nowrap;
}
.folder #folderPath {
  display: none;
}
.folder #folderPathText {
  width: 530px;
  line-height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  border: 2px solid;
  border-top-color: AppWorkspace;
  border-left-color: AppWorkspace;
  border-bottom-color: ButtonFace;
  border-right-color: ButtonFace;
}
.folder #btnSelectPath {
  margin-top: 0px;
}
.folder #folderPathText,
.folder #btnSelectPath {
  display: inline-block;
  vertical-align: middle;
}
.progress {
  box-shadow: 0 0 1px 1px #000;
}
.progress,
.progress_wrapper {
  position: relative;
  height: 2em;
  width: 100%;
}
.type {
  margin-bottom: 1.4em;
}
.type label {
  display: block;
  cursor: pointer;
  margin-bottom: 0.6em;
}
.type label.last {
  margin-bottom: unset;
}
.type input {
  margin-right: 0.6em;
}
.type input[type=text] {
  width: 100%;
}
.button {
  margin-top: 1.2em;
}
#progress_line,
#progress_value {
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  overflow: hidden;
}
#progress_line {
  background-color: lime;
  transition: width 0.3s ease;
}
#progress_value {
  width: 100%;
  color: black;
  font-family: Consolas, sans-serif;
  font-weight: bold;
  line-height: 2em;
}
#output {
  line-height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
/*# sourceMappingURL=main.css.map */