html(lang="ru")
	head
		include pug_inc/var.pug
		include pug_inc/meta.pug
	body
		include pug_inc/header.pug
		include pug_inc/wrapper.pug
		include pug_inc/footer.pug
		include pug_inc/help.pug
		link(rel="stylesheet" type="text/css" href="data-uri(css/main.css)")
		script(language="VBScript" src="data-uri(vbs/index.vbs)")