#FOOTER.footer.text-center
	|Developer by  
	a#ProjectSoft.link(title=ps_title) Чернышёв Андрей aka ProjectSoft
	br
	a#GBOU.link.last(title=gb_title) ГБОУ СОШ пос. Комсомольский м. р Кинельский Самарской обл.
	br
	|© 2009 ‒ all right reserved
	include git.pug