.help#HELP(style="display: none;")
	.help_wrapper
		.help_header
			#btnClose(title="Закрыть")
				|X
			h2.text-center
				|Справка
		.help_content
			ol
				li
					p
						|Окно программы
						.text-center.pointer
							include 0000.pug
				li
					p
						|Выбор директории с файлами расписаний
						.text-center.pointer
							include 0001.pug
				li
					p
						|Работа программы
						.text-center.pointer
							include 0002.pug
				li
					p
						|Структура папки «Дистанционное». Обратите внимание, что расписания лежат по датам
						br
						|На скрине имена файлов в папке на конкретно один день
						.text-center.pointer
							include 0003.pug
				li
					p
						|Результат работы программы. Файлы так же складываются в директории по датам и по типам расписания
						.text-center.pointer
							include 0004.pug
				li
					p
						|Результат записи в CSV файл для последующего использования в админке сайта при размещении расписания. Сайт нашей школы использует Evolution CMS, где установлено поле для прикрепления файлов multiTv и там есть возможность автоматического заполнения поля из данных CSV файлов.
						br
						|Если вы используете WordPress, то для него можно разработать своё кастомное поле (Метабокс). Зная API WordPress можно с лёгкостью реализовать подобное, как у Evolution CMS, кастомное поле. Как ввод так и вывод.
						br
						|Тоже самое касается и Joomla, и любых других CMS.
						.text-center.pointer
							include 0005.pug
				li
					p
						|Заполненое поле multiTv в админке Evolution CMS
						.text-center.pointer
							include 0006.pug