meta(http-equiv="content-type" content="text/html; charset=utf-8")
meta(http-equiv="x-ua-compatible" content="IE=9")
title #{title.toUpperCase()}
HTA:APPLICATION(ID="oHTA" BORDER="dialog" BORDERSTYLE="none" CAPTION="yes" MAXIMIZEBUTTON="no" MINIMIZEBUTTON="no" SHOWINTASKBAR="yes" SINGLEINSTANCE="yes" SYSMENU="yes" VERSION="1.0" WINDOWSTATE="normal" SCROLL="auto" icon="#" APPLICATIONNAME="DOC2PDF" SELECTION="no" CONTEXTMENU="no")