- var title = "Конвертирование расписаний дистанционных уроков";
- var git_title = "Посетить страницу проекта на GitHub";
- var ps_title = "Посетить сайт разработчика";
- var gb_title = "Посетить сайт ГБОУ СОШ пос. Комсомольский";