.header {
	box-shadow: 0 0 1em rgba(0, 0, 0, .7);
	.help-icon {
		position: absolute;
		z-index: 1;
		top: 1em;
		right: 1em;
		cursor: pointer;
	}
	h1 {
		padding-left: 3em;
		padding-right: 3em;
	}
}