.hidden {
	display: none !important;
}
.wrapper {
	position: relative;
	padding-bottom: 40px;
	overflow: auto;
	height: 100%;
	overflow: hidden;
	//max-height: ~'calc(100% - 8.5em)';
	.main {
		z-index: 1;
		overflow: auto;
		position: relative;
		height: 100%;
		.app {
			width: 690px;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			padding-top: 15px;
			padding-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
			//font-family: Tahoma, sans-serif;
			.button {
				margin-top: 10px;
				margin-bottom: 0;
			}
			#output {
				line-height: 16px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 12px;
				margin-bottom: 3px;
				margin-top: 5px;
				font-style: italic;
				color: #888888;
			}
		}
	}
}